<!-- 模版引擎后端渲染demo -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ejs-demo</title>
  </head>
  <body>
    <h1>这里是ejs模版引擎下的index.ejs</h1>
    <h2><%= hello %></h2>
  </body>
</html>
